spring:
  datasource:
    url: jdbc:h2:mem:mydb
    username: sa
    password: password
    driverClassName: org.h2.Driver
  flyway:
    locations: classpath:h2
    placeholders:
        usersTableName: T_USERS
